.background {
  /* background-image: url("../../../assets/img/login.png");  */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
}

.login {
  /* background: rgba(0, 0, 0, 0.7);  */
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
}

.login-title {
  color: white;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.remember-me {
  display: flex;
  align-items: center;
  color: white;
}

.remember-me span {
  margin-left: 5px;
}

.forgot-password {
  color: white;
  text-align: right;
}

.login-btn {
  width: 100%;
  /* background-color: #3E4798; */
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
}

.register-link {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: white;
}

.signup-link {
  color: white;
  font-weight: bold;
}
