.background_login {
  /* background-image: url("../../../assets/img/login.png");  */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background: rgba(134, 133, 133, 0.5); 
  padding: 20px;
  border-radius: 1 solid 10px;
  text-align: center;
  border-color: black;
}

.login-btn {
  width: 400px;
  margin-top: 10px;
  border-radius: 10px;
  color: rgb(158, 157, 157);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn:hover {
  background-color: #a7a6a6;
}
