.ToDoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.ToDoItem:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.ToDoItem input[type="checkbox"] {
    margin-right: 15px;
    transform: scale(1.2);
}

.ToDoItem .title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: #333;
}

.ToDoItem .date {
    font-size: 14px;
    color: #777;
    margin: 5px 0 0;
}

.ToDoItem .action {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.ToDoItem .action button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ToDoItem .action .edit-btn {
    width: 80px;
    background-color: #007bff;
    color: #ffffff;
    margin: auto;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ToDoItem .action .delete-btn {
    width: 80px;
    background-color: #ff4444;
    color: #ffffff;
    margin: auto;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ToDoItem .action button:hover {
    opacity: 0.8;
}

.ToDoItem.done {
    opacity: 0.6;
    text-decoration: line-through;
    background-color: #00ff2a;
}

.ToDoItem.done .title {
    color: #888;
}

.task-details {
    flex: 1;
    margin-left: 10px;
}   

.category{
    color: #6c757d;
    font-size: 15px;
}
.date {
    color: #6c757d;
    font-size: 15px;
}

.title {
    max-width: 320px; 
    white-space: normal; /* Cho phép xuống dòng */
    overflow: visible; /* Hiển thị toàn bộ nội dung */
    font-weight: bold;
    font-size: 1.1em;
    word-wrap: break-word; /* Ngắt từ nếu cần thiết để xuống dòng */
}   

